flows.json
[
    {
        "id": "a1b13acf0ebc83d8",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "38555e5d51f8978d",
        "type": "tab",
        "label": "Dashboard",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "285041f7cec92dc2",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": 8086,
        "protocol": "http",
        "database": "database",
        "name": "SmartClass",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "http://localhost:8086",
        "timeout": 10,
        "rejectUnauthorized": true
    },
    {
        "id": "3ea80e6b0f49fd5b",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "dc73abf4855e0f43",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": 8086,
        "protocol": "http",
        "database": "database",
        "name": "Smartclass_db",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "http://localhost:8086",
        "timeout": 10,
        "rejectUnauthorized": true
    },
    {
        "id": "79354796f726b0aa",
        "type": "ui_group",
        "name": "Gauge",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "40da5b04bc180a78",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-contrib-influxdb": "0.7.0",
            "node-red-dashboard": "3.6.6",
            "@flowfuse/node-red-dashboard": "1.30.2",
            "@flowfuse/node-red-dashboard-2-ui-led": "1.1.0",
            "node-red-contrib-moment": "5.0.0"
        }
    },
    {
        "id": "06f1f55e1db341f1",
        "type": "ui-base",
        "name": "Binus Smart Class Monitoring System",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "headerContent": "dashpage",
        "navigationStyle": "default",
        "titleBarStyle": "default",
        "showReconnectNotification": true,
        "notificationDisplayTime": 1,
        "showDisconnectNotification": true,
        "allowInstall": false
    },
    {
        "id": "2d1d01a6a9d8ae63",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#162033",
            "primary": "#1fc794",
            "bgPage": "#10192a",
            "groupBg": "#162033",
            "groupOutline": "#10192a"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "a02d8ceb29c47856",
        "type": "ui-spacer",
        "group": "",
        "name": "spacer",
        "tooltip": "",
        "order": 10,
        "width": 1,
        "height": 1,
        "className": ""
    },
    {
        "id": "caf62148022928fe",
        "type": "ui-spacer",
        "group": "",
        "name": "spacer",
        "tooltip": "",
        "order": 10,
        "width": "5",
        "height": 1,
        "className": ""
    },
    {
        "id": "a0e2e3189166696d",
        "type": "ui-spacer",
        "group": "",
        "name": "spacer",
        "tooltip": "",
        "order": 12,
        "width": "5",
        "height": 1,
        "className": ""
    },
    {
        "id": "addaba99d60ade39",
        "type": "ui-page",
        "name": "Home Page",
        "ui": "06f1f55e1db341f1",
        "path": "/page1",
        "icon": "home",
        "layout": "grid",
        "theme": "2d1d01a6a9d8ae63",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 1,
        "className": "",
        "visible": true,
        "disabled": false
    },
    {
        "id": "0c3c5ebdba98837d",
        "type": "ui-group",
        "name": "Greetings",
        "page": "addaba99d60ade39",
        "width": "12",
        "height": "1",
        "order": 1,
        "showTitle": false,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "2abd542ed67dc832",
        "type": "ui-page",
        "name": "Page 3",
        "ui": "06f1f55e1db341f1",
        "path": "/page3",
        "icon": "home",
        "layout": "grid",
        "theme": "2d1d01a6a9d8ae63",
        "breakpoints": [
            {
                "name": "Default",
                "px": 0,
                "cols": 3
            },
            {
                "name": "Tablet",
                "px": 576,
                "cols": 6
            },
            {
                "name": "Small Desktop",
                "px": 768,
                "cols": 9
            },
            {
                "name": "Desktop",
                "px": 1024,
                "cols": 12
            }
        ],
        "order": 3,
        "className": "",
        "visible": true,
        "disabled": false
    },
    {
        "id": "ed7d71e2b230ba7b",
        "type": "ui-spacer",
        "group": "b683be746b7871c8",
        "name": "spacer",
        "tooltip": "",
        "order": 1,
        "width": "3",
        "height": 1,
        "className": ""
    },
    {
        "id": "06b5f32f784425ca",
        "type": "ui-spacer",
        "group": "60183a643617e85c",
        "name": "spacer",
        "tooltip": "",
        "order": 5,
        "width": "3",
        "height": 1,
        "className": ""
    },
    {
        "id": "54266c8b45cc65bf",
        "type": "ui-spacer",
        "group": "dc28dfc039a0c297",
        "name": "spacer",
        "tooltip": "",
        "order": 2,
        "width": "6",
        "height": 1,
        "className": ""
    },
    {
        "id": "973a7f5b4ae751bd",
        "type": "ui-spacer",
        "group": "a0d3c1c196448c80",
        "name": "spacer",
        "tooltip": "",
        "order": 1,
        "width": "3",
        "height": 1,
        "className": ""
    },
    {
        "id": "677c748d1a3ef64a",
        "type": "ui-spacer",
        "group": "fd8788b87c387cae",
        "name": "spacer",
        "tooltip": "",
        "order": 1,
        "width": "3",
        "height": 1,
        "className": ""
    },
    {
        "id": "2e1713c63c8d59f4",
        "type": "ui-spacer",
        "group": "7d76c15d01cc0758",
        "name": "spacer",
        "tooltip": "",
        "order": 1,
        "width": "3",
        "height": 1,
        "className": ""
    },
    {
        "id": "fea4f78f608ceb13",
        "type": "ui-spacer",
        "group": "99298c45c45b3c75",
        "name": "spacer",
        "tooltip": "",
        "order": 2,
        "width": 1,
        "height": 1,
        "className": ""
    },
    {
        "id": "9837d5e75890d6cd",
        "type": "ui-spacer",
        "group": "99298c45c45b3c75",
        "name": "spacer",
        "tooltip": "",
        "order": 4,
        "width": 1,
        "height": 1,
        "className": ""
    },
    {
        "id": "15d20fc04fbde5f1",
        "type": "ui_spacer",
        "z": "a1b13acf0ebc83d8",
        "name": "spacer",
        "group": "79354796f726b0aa",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "class_overview_group",
        "type": "ui-group",
        "z": "38555e5d51f8978d",
        "name": "Classrooms Overview",
        "page": "addaba99d60ade39",
        "width": "12",
        "height": "1",
        "order": 2,
        "className": ""
    },
    {
        "id": "dc368db73e4f397d",
        "type": "influxdb out",
        "z": "a1b13acf0ebc83d8",
        "influxdb": "285041f7cec92dc2",
        "name": "send to db",
        "measurement": "classroom",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "Binus",
        "bucket": "SmartClass",
        "x": 810,
        "y": 460,
        "wires": []
    },
    {
        "id": "78ac9837c454b6ad",
        "type": "function",
        "z": "a1b13acf0ebc83d8",
        "name": "function 1",
        "func": "// Topic format:\n// <room>/<type>/<field> (where <type> is data or control)\n\nvar parts = msg.topic.split(\"/\");\nif (parts.length !== 3) {\n    return null;\n}\n\nvar room = parts[0];\nvar type = parts[1];\nvar field = parts[2];\n\nif (type !== \"data\" && type !== \"control\") {\n    node.warn(\"Unknown type: \" + type);\n    return null;\n}\n\n// Map the field name to standard base field\nlet baseField = field;\nif (field === \"led_data\") baseField = \"led\";\nelse if (field === \"ac_data\") baseField = \"ac\";\nelse if (field === \"projector_data\") baseField = \"projector\";\n\n// Set measurement name dynamically based on type (data or control)\nmsg.measurement = \"classroom_\" + type;\n\nconst stringFields = [\"ac\", \"status\", \"command\"];\nconst intFields = [\n    \"active\",\n    \"alert\",\n    \"co2\",\n    \"human\",\n    \"led\",\n    \"lux\",\n    \"projector\",\n    \"led_data\",\n    \"ac_data\",\n    \"projector_data\"\n];\nconst floatFields = [\"temp\"];\n\nvar value;\n\nif (intFields.includes(field)) {\n    value = parseInt(msg.payload, 10);\n    if (isNaN(value)) return null;\n    value = value.toString() + \"i\";\n}\nelse if (floatFields.includes(field)) {\n    value = parseFloat(msg.payload);\n    if (isNaN(value)) return null;\n}\nelse if (stringFields.includes(field)) {\n    if (field === \"status\" || field === \"command\") {\n        let parsed = parseInt(msg.payload, 10);\n        if (!isNaN(parsed) && String(parsed) === String(msg.payload).trim()) {\n            value = parsed.toString() + \"i\";\n        } else {\n            value = String(msg.payload);\n        }\n    } else {\n        value = String(msg.payload);\n    }\n}\nelse {\n    node.warn(\"Unknown field: \" + field);\n    return null;\n}\n\nmsg.payload = [\n    {\n        [baseField]: value\n    },\n    {\n        room: room\n    }\n];\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 320,
        "wires": [
            [
                "dc368db73e4f397d",
                "1865875fc24660cc"
            ]
        ]
    },
    {
        "id": "04629adfe1d35ea2",
        "type": "mqtt in",
        "z": "a1b13acf0ebc83d8",
        "name": "",
        "topic": "+/+/+",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "3ea80e6b0f49fd5b",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 300,
        "y": 320,
        "wires": [
            [
                "78ac9837c454b6ad",
                "detail_live_filter"
            ]
        ]
    },
    {
        "id": "96a8fcef348f7a32",
        "type": "influxdb in",
        "z": "a1b13acf0ebc83d8",
        "influxdb": "dc73abf4855e0f43",
        "name": "data to send",
        "query": "from(bucket: \"SmartClass\")\n  |> range(start: -30d)\n  |> filter(fn: (r) => r._measurement == \"classroom_control\")\n  |> filter(fn: (r) =>\n      r._field == \"led\" or\n      r._field == \"projector\" or\n      r._field == \"ac\"\n  )\n  |> last()",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "org": "Binus",
        "x": 330,
        "y": 540,
        "wires": [
            [
                "d6da2c0d7ce04d52"
            ]
        ]
    },
    {
        "id": "275cfc0ecef010a3",
        "type": "inject",
        "z": "a1b13acf0ebc83d8",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 190,
        "y": 580,
        "wires": [
            [
                "96a8fcef348f7a32"
            ]
        ]
    },
    {
        "id": "cad3c487f58fe6f1",
        "type": "rbe",
        "z": "a1b13acf0ebc83d8",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 910,
        "y": 580,
        "wires": [
            [
                "560cc320dd41e474"
            ]
        ]
    },
    {
        "id": "d6da2c0d7ce04d52",
        "type": "split",
        "z": "a1b13acf0ebc83d8",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "property": "payload",
        "x": 610,
        "y": 680,
        "wires": [
            [
                "2a01f38f6a5af068"
            ]
        ]
    },
    {
        "id": "2a01f38f6a5af068",
        "type": "function",
        "z": "a1b13acf0ebc83d8",
        "name": "function 2",
        "func": "let row = msg.payload;\n\nmsg.topic =\n\n    row.room +\n    \"/control/\" +\n    row._field;\n\nmsg.payload = String(row._value);\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 640,
        "wires": [
            [
                "cad3c487f58fe6f1"
            ]
        ]
    },
    {
        "id": "560cc320dd41e474",
        "type": "mqtt out",
        "z": "a1b13acf0ebc83d8",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "3ea80e6b0f49fd5b",
        "x": 1050,
        "y": 580,
        "wires": []
    },
    {
        "id": "eff089e24a5f3bb6",
        "type": "inject",
        "z": "a1b13acf0ebc83d8",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "00 00 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 800,
        "wires": [
            [
                "7885f6d66bef039b"
            ]
        ]
    },
    {
        "id": "adc323d1d6878a96",
        "type": "influxdb in",
        "z": "a1b13acf0ebc83d8",
        "influxdb": "dc73abf4855e0f43",
        "name": "Schedule",
        "query": "from(bucket: \"SmartClass\")\n  |> range(start: -30d)\n  |> filter(fn: (r) => r._measurement == \"classroom_schedule\")\n  |> filter(fn: (r) => r._field == \"Monday\")\n  |> last()",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "org": "Binus",
        "x": 620,
        "y": 780,
        "wires": [
            [
                "1842c0ea8c800ee2"
            ]
        ]
    },
    {
        "id": "1842c0ea8c800ee2",
        "type": "split",
        "z": "a1b13acf0ebc83d8",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "property": "payload",
        "x": 870,
        "y": 780,
        "wires": [
            [
                "d86886de512d8a44",
                "887f7913182a3641"
            ]
        ]
    },
    {
        "id": "d86886de512d8a44",
        "type": "function",
        "z": "a1b13acf0ebc83d8",
        "name": "function 3",
        "func": "let row = msg.payload;\n\nmsg.topic =\n\n    row.room +\n    \"/control/schedule\";\n\nmsg.payload = String(row._value);\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1040,
        "y": 780,
        "wires": [
            [
                "7fe46bbe5d0a3fa1",
                "9fc884c597834efd"
            ]
        ]
    },
    {
        "id": "7fe46bbe5d0a3fa1",
        "type": "mqtt out",
        "z": "a1b13acf0ebc83d8",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "3ea80e6b0f49fd5b",
        "x": 1190,
        "y": 780,
        "wires": []
    },
    {
        "id": "7885f6d66bef039b",
        "type": "function",
        "z": "a1b13acf0ebc83d8",
        "name": "function 4",
        "func": "const days = [\n    \"Sunday\",\n    \"Monday\",\n    \"Tuesday\",\n    \"Wednesday\",\n    \"Thursday\",\n    \"Friday\",\n    \"Saturday\"\n];\n\nmsg.payload = days[new Date().getDay()];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 800,
        "wires": [
            [
                "76124cbc0844e94d",
                "f241c7996dfa4295",
                "28d367794eab7305",
                "bc6f33f394acc360",
                "c2245c5fbb653933",
                "ddc3743cc624dbe3",
                "8d8c9e449b46510e",
                "1a19940d85b7a65e"
            ]
        ]
    },
    {
        "id": "76124cbc0844e94d",
        "type": "switch",
        "z": "a1b13acf0ebc83d8",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Monday",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 450,
        "y": 780,
        "wires": [
            [
                "adc323d1d6878a96"
            ]
        ]
    },
    {
        "id": "f241c7996dfa4295",
        "type": "switch",
        "z": "a1b13acf0ebc83d8",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Tuesday",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 450,
        "y": 820,
        "wires": [
            [
                "8b1c445ddc6a34a1"
            ]
        ]
    },
    {
        "id": "8b1c445ddc6a34a1",
        "type": "influxdb in",
        "z": "a1b13acf0ebc83d8",
        "influxdb": "dc73abf4855e0f43",
        "name": "Schedule",
        "query": "from(bucket: \"SmartClass\")\n  |> range(start: -30d)\n  |> filter(fn: (r) => r._measurement == \"classroom_schedule\")\n  |> filter(fn: (r) => r._field == \"Tuesday\")\n  |> last()",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "org": "Binus",
        "x": 620,
        "y": 820,
        "wires": [
            [
                "1842c0ea8c800ee2"
            ]
        ]
    },
    {
        "id": "28d367794eab7305",
        "type": "switch",
        "z": "a1b13acf0ebc83d8",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Wednesday",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 450,
        "y": 860,
        "wires": [
            [
                "cdb6941a54054ef2"
            ]
        ]
    },
    {
        "id": "cdb6941a54054ef2",
        "type": "influxdb in",
        "z": "a1b13acf0ebc83d8",
        "influxdb": "dc73abf4855e0f43",
        "name": "Schedule",
        "query": "from(bucket: \"SmartClass\")\n  |> range(start: -30d)\n  |> filter(fn: (r) => r._measurement == \"classroom_schedule\")\n  |> filter(fn: (r) => r._field == \"Wednesday\")\n  |> last()",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "org": "Binus",
        "x": 620,
        "y": 860,
        "wires": [
            [
                "1842c0ea8c800ee2"
            ]
        ]
    },
    {
        "id": "bc6f33f394acc360",
        "type": "switch",
        "z": "a1b13acf0ebc83d8",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Thursday",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 450,
        "y": 900,
        "wires": [
            [
                "d1dcc2f377afc4d0"
            ]
        ]
    },
    {
        "id": "d1dcc2f377afc4d0",
        "type": "influxdb in",
        "z": "a1b13acf0ebc83d8",
        "influxdb": "dc73abf4855e0f43",
        "name": "Schedule",
        "query": "from(bucket: \"SmartClass\")\n  |> range(start: -30d)\n  |> filter(fn: (r) => r._measurement == \"classroom_schedule\")\n  |> filter(fn: (r) => r._field == \"Thursday\")\n  |> last()",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "org": "Binus",
        "x": 620,
        "y": 900,
        "wires": [
            [
                "1842c0ea8c800ee2"
            ]
        ]
    },
    {
        "id": "c2245c5fbb653933",
        "type": "switch",
        "z": "a1b13acf0ebc83d8",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Friday",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 450,
        "y": 940,
        "wires": [
            [
                "6ab15e1566529d8b"
            ]
        ]
    },
    {
        "id": "6ab15e1566529d8b",
        "type": "influxdb in",
        "z": "a1b13acf0ebc83d8",
        "influxdb": "dc73abf4855e0f43",
        "name": "Schedule",
        "query": "from(bucket: \"SmartClass\")\n  |> range(start: -30d)\n  |> filter(fn: (r) => r._measurement == \"classroom_schedule\")\n  |> filter(fn: (r) => r._field == \"Friday\")\n  |> last()",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "org": "Binus",
        "x": 620,
        "y": 940,
        "wires": [
            [
                "1842c0ea8c800ee2"
            ]
        ]
    },
    {
        "id": "ddc3743cc624dbe3",
        "type": "switch",
        "z": "a1b13acf0ebc83d8",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Saturday",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 450,
        "y": 980,
        "wires": [
            [
                "0b48ceb6c59621a9"
            ]
        ]
    },
    {
        "id": "0b48ceb6c59621a9",
        "type": "influxdb in",
        "z": "a1b13acf0ebc83d8",
        "influxdb": "dc73abf4855e0f43",
        "name": "Schedule",
        "query": "from(bucket: \"SmartClass\")\n  |> range(start: -30d)\n  |> filter(fn: (r) => r._measurement == \"classroom_schedule\")\n  |> filter(fn: (r) => r._field == \"Saturday\")\n  |> last()",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "org": "Binus",
        "x": 620,
        "y": 980,
        "wires": [
            [
                "1842c0ea8c800ee2"
            ]
        ]
    },
    {
        "id": "8d8c9e449b46510e",
        "type": "switch",
        "z": "a1b13acf0ebc83d8",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Friday",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 450,
        "y": 1020,
        "wires": [
            [
                "203d6343ec3bf0d5"
            ]
        ]
    },
    {
        "id": "203d6343ec3bf0d5",
        "type": "influxdb in",
        "z": "a1b13acf0ebc83d8",
        "influxdb": "dc73abf4855e0f43",
        "name": "Schedule",
        "query": "from(bucket: \"SmartClass\")\n  |> range(start: -30d)\n  |> filter(fn: (r) => r._measurement == \"classroom_schedule\")\n  |> filter(fn: (r) => r._field == \"Friday\")\n  |> last()",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "org": "Binus",
        "x": 620,
        "y": 1020,
        "wires": [
            [
                "1842c0ea8c800ee2"
            ]
        ]
    },
    {
        "id": "1a19940d85b7a65e",
        "type": "debug",
        "z": "a1b13acf0ebc83d8",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 1080,
        "wires": []
    },
    {
        "id": "887f7913182a3641",
        "type": "debug",
        "z": "a1b13acf0ebc83d8",
        "name": "debug 2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1060,
        "y": 880,
        "wires": []
    },
    {
        "id": "9fc884c597834efd",
        "type": "debug",
        "z": "a1b13acf0ebc83d8",
        "name": "debug 3",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1240,
        "y": 840,
        "wires": []
    },
    {
        "id": "1865875fc24660cc",
        "type": "debug",
        "z": "a1b13acf0ebc83d8",
        "name": "debug 4",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 320,
        "wires": []
    },
    {
        "id": "7c20841b07811598",
        "type": "moment",
        "z": "38555e5d51f8978d",
        "name": "",
        "topic": "",
        "input": "payload",
        "inputType": "msg",
        "inTz": "Asia/Jakarta",
        "adjAmount": 0,
        "adjType": "days",
        "adjDir": "add",
        "format": "LTS",
        "locale": "en-GB",
        "output": "payload",
        "outputType": "msg",
        "outTz": "Asia/Jakarta",
        "x": 340,
        "y": 40,
        "wires": [
            [
                "53466ec36686119d"
            ]
        ]
    },
    {
        "id": "53466ec36686119d",
        "type": "ui-text",
        "z": "38555e5d51f8978d",
        "group": "0c3c5ebdba98837d",
        "order": 1,
        "width": "3",
        "height": "1",
        "name": "Time",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": true,
        "font": "",
        "fontSize": "30",
        "color": "#ffffff",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 570,
        "y": 40,
        "wires": []
    },
    {
        "id": "85fdaee7624b916d",
        "type": "inject",
        "z": "38555e5d51f8978d",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 40,
        "wires": [
            [
                "7c20841b07811598"
            ]
        ]
    },
    {
        "id": "0eefca5c4e38e7ea",
        "type": "ui-led",
        "z": "38555e5d51f8978d",
        "name": "MQTT Connection",
        "group": "0c3c5ebdba98837d",
        "order": 2,
        "width": "3",
        "height": "1",
        "label": "MQTT Connection",
        "labelPlacement": "left",
        "labelAlignment": "flex-end",
        "states": [
            {
                "value": "0",
                "valueType": "num",
                "color": "#ff0000"
            },
            {
                "value": "2",
                "valueType": "num",
                "color": "#00ff00"
            },
            {
                "value": "1",
                "valueType": "num",
                "color": "#ff8000"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showBorder": false,
        "showGlow": true,
        "x": 530,
        "y": 80,
        "wires": []
    },
    {
        "id": "165bff3d517ae0eb",
        "type": "status",
        "z": "a1b13acf0ebc83d8",
        "name": "",
        "scope": [
            "04629adfe1d35ea2"
        ],
        "x": 80,
        "y": 80,
        "wires": [
            [
                "c83f25b1feea046c"
            ]
        ]
    },
    {
        "id": "c83f25b1feea046c",
        "type": "function",
        "z": "a1b13acf0ebc83d8",
        "name": "MQTT Status",
        "func": "// Extract the raw status text from the node\nlet mqttState = msg.status.text;\n\n// Map the text to integers\nif (mqttState === \"node-red:common.status.connected\") {\n    msg.payload = 2; \n} else if (mqttState === \"node-red:common.status.connecting\") {\n    msg.payload = 1;\n} else {\n    // This catches \"disconnected\", \"error\", or any other failure state\n    msg.payload = 0; \n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 80,
        "wires": [
            [
                "0eefca5c4e38e7ea"
            ]
        ]
    },
    {
        "id": "8a021193d2ac8c58",
        "type": "mqtt in",
        "z": "38555e5d51f8978d",
        "name": "",
        "topic": "bridge/status",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "3ea80e6b0f49fd5b",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 90,
        "y": 180,
        "wires": [
            [
                "db18c6dcc60375a8"
            ]
        ]
    },
    {
        "id": "db18c6dcc60375a8",
        "type": "ui-led",
        "z": "38555e5d51f8978d",
        "name": "Bridge Connection",
        "group": "0c3c5ebdba98837d",
        "order": 3,
        "width": "3",
        "height": "1",
        "label": "Cloud Connection",
        "labelPlacement": "left",
        "labelAlignment": "flex-end",
        "states": [
            {
                "value": "0",
                "valueType": "num",
                "color": "#ff0000"
            },
            {
                "value": "1",
                "valueType": "num",
                "color": "#00ff00"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showBorder": false,
        "showGlow": true,
        "x": 290,
        "y": 180,
        "wires": []
    },
    {
        "id": "class_overview_template",
        "type": "ui-template",
        "z": "38555e5d51f8978d",
        "group": "class_overview_group",
        "name": "Home Grid View",
        "order": 1,
        "width": "12",
        "height": "auto",
        "format": "<template>\n  <div class=\"classrooms-container py-4\">\n    <!-- Grid of Classroom Cards -->\n    <v-row>\n      <v-col v-for=\"room in rooms\" :key=\"room.room\" cols=\"12\" sm=\"6\" md=\"4\">\n        <v-card class=\"room-card elevation-4 text-white\" :class=\"{'inactive-card': room.status === -1}\">\n          <!-- Card Header -->\n          <div class=\"card-header d-flex justify-between align-center px-4 py-3\">\n            <span class=\"room-title font-weight-bold text-h5\">{{ room.room }}</span>\n            <div class=\"status-indicator d-flex align-center\">\n              <span class=\"status-dot mr-2\" :class=\"statusColorClass(room.status)\"></span>\n              <span class=\"text-caption text-grey-lighten-1\">{{ statusText(room.status) }}</span>\n            </div>\n          </div>\n\n          <!-- Card Body Status Indicators -->\n          <v-card-text class=\"px-4 py-3\">\n            <!-- Alert Status / Room Occupancy Bitmask Summary -->\n            <div class=\"d-flex align-center mb-4 px-2\">\n              <v-icon :color=\"alertColor(room.alert)\" class=\"mr-2\" size=\"large\">\n                {{ alertIcon(room.alert) }}\n              </v-icon>\n              <div>\n                <div class=\"text-subtitle-2 font-weight-medium\">Alert Status</div>\n                <div class=\"text-caption text-grey-lighten-1\">{{ alertText(room.alert) }}</div>\n              </div>\n            </div>\n\n            <!-- Device Status Icons -->\n            <div class=\"d-flex justify-space-around py-2 bg-device-panel rounded\">\n              <!-- Lamp -->\n              <div class=\"text-center\">\n                <v-icon :color=\"deviceColor(room.led_data)\" size=\"large\">mdi-lightbulb</v-icon>\n                <div class=\"text-caption mt-1 font-weight-bold\">Lamp</div>\n              </div>\n              <!-- AC -->\n              <div class=\"text-center\">\n                <v-icon :color=\"deviceColor(room.ac_data)\" size=\"large\">mdi-fan</v-icon>\n                <div class=\"text-caption mt-1 font-weight-bold\">AC</div>\n              </div>\n              <!-- Projector -->\n              <div class=\"text-center\">\n                <v-icon :color=\"deviceColor(room.projector_data)\" size=\"large\">mdi-projector</v-icon>\n                <div class=\"text-caption mt-1 font-weight-bold\">Proj</div>\n              </div>\n            </div>\n          </v-card-text>\n\n          <!-- Card Actions -->\n          <v-card-actions class=\"px-4 pb-4\">\n            <v-btn block color=\"teal-accent-3\" variant=\"elevated\" @click=\"selectRoom(room)\">\n              Control & Details\n            </v-btn>\n          </v-card-actions>\n        </v-card>\n      </v-col>\n    </v-row>\n  </div>\n</template>\n\n<script>\nexport default {\n  data() {\n    return {\n      rooms: []\n    }\n  },\n  watch: {\n    msg: {\n      handler(newMsg) {\n        if (newMsg && newMsg.topic === 'rooms' && Array.isArray(newMsg.payload)) {\n          this.rooms = newMsg.payload;\n        }\n      },\n      deep: true,\n      immediate: true\n    }\n  },\n  methods: {\n    statusColorClass(status) {\n      if (status === 1) return 'bg-green';\n      if (status === 0) return 'bg-red';\n      return 'bg-grey';\n    },\n    statusText(status) {\n      if (status === 1) return 'Active';\n      if (status === 0) return 'Empty';\n      return 'Offline';\n    },\n    deviceColor(state) {\n      if (state === 1) return 'green-lighten-1';\n      if (state === 0) return 'red-lighten-1';\n      return 'grey-lighten-1';\n    },\n    alertIcon(alertVal) {\n      if (alertVal > 0) return 'mdi-alert-circle';\n      return 'mdi-check-circle';\n    },\n    alertColor(alertVal) {\n      if (alertVal > 0) return 'red-lighten-1';\n      return 'green-lighten-1';\n    },\n    alertText(alertVal) {\n      if (alertVal > 0) return 'Active Alerts Present';\n      return 'All Systems Nominal';\n    },\n    selectRoom(room) {\n      this.send({\n        topic: \"select_room\",\n        payload: room.room\n      });\n    }\n  }\n}\n</script>\n\n<style>\n.classrooms-container {\n  font-family: 'Outfit', 'Inter', sans-serif;\n  overflow-x: hidden;\n}\n.room-card {\n  background: rgba(22, 32, 51, 0.75) !important;\n  backdrop-filter: blur(10px);\n  border: 1px solid rgba(255, 255, 255, 0.08) !important;\n  border-radius: 12px !important;\n  transition: transform 0.2s ease, border-color 0.2s ease;\n}\n.room-card:hover {\n  transform: translateY(-4px);\n  border-color: rgba(31, 199, 148, 0.4) !important;\n}\n.inactive-card {\n  opacity: 0.75;\n}\n.card-header {\n  border-bottom: 1px solid rgba(255, 255, 255, 0.08);\n}\n.status-dot {\n  width: 10px;\n  height: 10px;\n  border-radius: 50%;\n  display: inline-block;\n}\n.bg-green {\n  background-color: #4caf50 !important;\n  box-shadow: 0 0 8px #4caf50;\n}\n.bg-red {\n  background-color: #f44336 !important;\n  box-shadow: 0 0 8px #f44336;\n}\n.bg-grey {\n  background-color: #9e9e9e !important;\n}\n.border-right-sep {\n  border-right: 1px solid rgba(255, 255, 255, 0.08);\n}\n.bg-device-panel {\n  background-color: rgba(16, 25, 42, 0.6);\n  border: 1px solid rgba(255, 255, 255, 0.05);\n}\n</style>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 800,
        "y": 280,
        "wires": [
            [
                "detail_router"
            ]
        ]
    },
    {
        "id": "telemetry_poll_inject",
        "type": "inject",
        "z": "38555e5d51f8978d",
        "name": "Every 5s",
        "props": [],
        "repeat": "5",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "x": 140,
        "y": 280,
        "wires": [
            [
                "telemetry_poll_influx"
            ]
        ]
    },
    {
        "id": "telemetry_poll_influx",
        "type": "function",
        "z": "38555e5d51f8978d",
        "name": "Poll Rooms State",
        "x": 480,
        "y": 280,
        "wires": [
            [
                "class_overview_template"
            ],
            [
                "influxdb_connection_led"
            ]
        ],
        "func": "let roomsState = flow.get(\"roomsState\") || {};\nlet now = Date.now();\n\nObject.keys(roomsState).forEach(roomName => {\n    let r = roomsState[roomName];\n    let elapsed = now - r.lastSeen;\n    \n    if (elapsed > 300000) {\n        r.status = -1;\n        r.led_data = -1;\n        r.ac_data = -1;\n        r.projector_data = -1;\n    } else {\n        r.status = r.active === 1 ? 1 : 0;\n    }\n});\n\nlet msgRooms = {\n    topic: \"rooms\",\n    payload: Object.values(roomsState)\n};\nlet msgLed = {\n    payload: 1\n};\nreturn [msgRooms, msgLed];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": []
    },
    {
        "id": "command_history_router_fn",
        "type": "function",
        "z": "38555e5d51f8978d",
        "name": "Command & History Router",
        "func": "if (msg.topic === \"control\") {\n    let payload = msg.payload;\n    let room = payload.room;\n    let device = payload.device;\n    let value = payload.value;\n    \n    let msgMqtt = {\n        topic: room + \"/control/\" + device,\n        payload: String(value)\n    };\n    \n    let msgInflux = {\n        measurement: \"classroom_control\",\n        payload: [\n            { [device]: value },\n            { room: room }\n        ]\n    };\n    \n    return [msgMqtt, msgInflux, null];\n} \nelse if (msg.topic === \"get_history\") {\n    let room = msg.payload.room;\n    let start = msg.payload.start;\n    let stop = msg.payload.stop;\n    let range = msg.payload.range;\n    let window = msg.payload.window;\n    \n    let rangePart = '';\n    if (start && stop) {\n        rangePart = `|> range(start: ${start}, stop: ${stop})`;\n    } else if (range) {\n        rangePart = `|> range(start: -${range})`;\n    } else {\n        rangePart = `|> range(start: -24h)`;\n    }\n    \n    let aggPart = '';\n    if (window && window !== 'none') {\n        aggPart = `\\n  |> aggregateWindow(every: ${window}, fn: mean, createEmpty: false)`;\n    }\n    \n    let msgQuery = {\n        payload: room,\n        query: `from(bucket: \"SmartClass\")\n  ${rangePart}\n  |> filter(fn: (r) => r.room == \"${room}\")\n  |> filter(fn: (r) => r._measurement == \"classroom\")\n  |> filter(fn: (r) => r._field == \"temp\" or r._field == \"lux\" or r._field == \"co2\")${aggPart}`\n    };\n    \n    return [null, null, msgQuery];\n}\n\nreturn null;",
        "outputs": 3,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 420,
        "wires": [
            [
                "dashboard_mqtt_out"
            ],
            [
                "dashboard_influx_out"
            ],
            [
                "history_influx_in"
            ]
        ]
    },
    {
        "id": "dashboard_mqtt_out",
        "type": "mqtt out",
        "z": "38555e5d51f8978d",
        "name": "MQTT Command Out",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "3ea80e6b0f49fd5b",
        "x": 800,
        "y": 380,
        "wires": []
    },
    {
        "id": "dashboard_influx_out",
        "type": "influxdb out",
        "z": "38555e5d51f8978d",
        "influxdb": "285041f7cec92dc2",
        "name": "Record Control Command",
        "measurement": "",
        "precision": "",
        "retentionPolicy": "",
        "x": 820,
        "y": 420,
        "wires": []
    },
    {
        "id": "history_influx_in",
        "type": "influxdb in",
        "z": "38555e5d51f8978d",
        "influxdb": "dc73abf4855e0f43",
        "name": "Query 24h History",
        "query": "",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "org": "Binus",
        "x": 790,
        "y": 480,
        "wires": [
            [
                "history_process_fn"
            ]
        ]
    },
    {
        "id": "history_process_fn",
        "type": "function",
        "z": "38555e5d51f8978d",
        "name": "Process History",
        "func": "if (!Array.isArray(msg.payload)) {\n    return null;\n}\n\nlet records = msg.payload;\nlet room = records.length > 0 ? records[0].room : \"\";\n\nlet historyData = {\n    temp: [],\n    lux: [],\n    co2: []\n};\n\nrecords.forEach(row => {\n    let field = row._field;\n    let value = parseFloat(row._value);\n    let time = new Date(row._time).getTime();\n    \n    if (field === \"temp\" || field === \"temperature\") {\n        historyData.temp.push({ x: time, y: value });\n    } else if (field === \"lux\") {\n        historyData.lux.push({ x: time, y: value });\n    } else if (field === \"co2\") {\n        historyData.co2.push({ x: time, y: value });\n    }\n});\n\nhistoryData.temp.sort((a, b) => a.x - b.x);\nhistoryData.lux.sort((a, b) => a.x - b.x);\nhistoryData.co2.sort((a, b) => a.x - b.x);\n\nmsg.topic = \"history\";\nmsg.room = room;\nmsg.payload = historyData;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1000,
        "y": 480,
        "wires": [
            [
                "classroom_detail_template"
            ]
        ]
    },
    {
        "id": "influxdb_connection_led",
        "type": "ui-led",
        "z": "38555e5d51f8978d",
        "name": "InfluxDB Connection",
        "group": "0c3c5ebdba98837d",
        "order": 4,
        "width": "3",
        "height": "1",
        "label": "InfluxDB",
        "labelPlacement": "left",
        "labelAlignment": "flex-end",
        "states": [
            {
                "value": "0",
                "valueType": "num",
                "color": "#ff0000"
            },
            {
                "value": "1",
                "valueType": "num",
                "color": "#00ff00"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showBorder": false,
        "showGlow": true,
        "x": 800,
        "y": 140,
        "wires": []
    },
    {
        "id": "influx_catch_errors",
        "type": "catch",
        "z": "38555e5d51f8978d",
        "name": "Catch Influx Errors",
        "scope": [
            "influx_health_query",
            "history_influx_in"
        ],
        "uncaught": false,
        "x": 340,
        "y": 140,
        "wires": [
            [
                "influx_error_fn"
            ]
        ]
    },
    {
        "id": "influx_error_fn",
        "type": "function",
        "z": "38555e5d51f8978d",
        "name": "Influx Error Status",
        "func": "msg.payload = 0;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 140,
        "wires": [
            [
                "influxdb_connection_led"
            ]
        ]
    },
    {
        "id": "classroom_detail_page",
        "type": "ui-page",
        "name": "Classroom Detail",
        "ui": "06f1f55e1db341f1",
        "path": "/classroom-detail",
        "icon": "school",
        "layout": "grid",
        "theme": "2d1d01a6a9d8ae63",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 2,
        "className": "",
        "visible": false,
        "disabled": false
    },
    {
        "id": "classroom_detail_group",
        "type": "ui-group",
        "name": "Classroom Details & Controls",
        "page": "classroom_detail_page",
        "order": 1,
        "width": "12",
        "height": "1",
        "layout": "grid",
        "className": "",
        "visible": true,
        "disabled": false
    },
    {
        "id": "classroom_detail_template",
        "type": "ui-template",
        "z": "38555e5d51f8978d",
        "name": "Classroom Detail View",
        "group": "classroom_detail_group",
        "order": 1,
        "width": "12",
        "height": "auto",
        "format": "<template>\n  <div class=\"detail-container py-4 text-white\">\n    <!-- Header with Back Button -->\n    <v-card class=\"detail-header-card pa-4 mb-6 elevation-4\">\n      <div class=\"d-flex align-center justify-between\">\n        <div class=\"d-flex align-center\">\n          <v-btn icon=\"mdi-arrow-left\" color=\"teal-accent-3\" variant=\"outlined\" @click=\"goBack\" class=\"mr-4\"></v-btn>\n          <div>\n            <h2 class=\"text-h4 font-weight-bold\">Classroom {{ roomName }}</h2>\n            <div class=\"text-caption text-grey-lighten-1\">Real-time telemetry and hardware control console</div>\n          </div>\n        </div>\n      </div>\n    </v-card>\n\n    <v-row>\n      <!-- Telemetry Gauges -->\n      <v-col cols=\"12\" md=\"4\">\n        <v-card class=\"detail-panel pa-4 elevation-4 h-100\">\n          <div class=\"text-h6 font-weight-bold mb-4 text-teal-accent-3\">Live Telemetry</div>\n          \n          <v-row class=\"mb-2\">\n            <!-- Temp -->\n            <v-col cols=\"6\">\n              <div class=\"metric-box pa-3 text-center\">\n                <v-icon color=\"orange-lighten-2\" size=\"large\">mdi-thermometer</v-icon>\n                <div class=\"text-h5 mt-1 font-weight-medium text-orange-lighten-2\">{{ getDisplayTemp() }}°C</div>\n                <div class=\"text-caption text-grey\">Temperature</div>\n              </div>\n            </v-col>\n            <!-- Lux -->\n            <v-col cols=\"6\">\n              <div class=\"metric-box pa-3 text-center\">\n                <v-icon color=\"blue-lighten-2\" size=\"large\">mdi-white-balance-sunny</v-icon>\n                <div class=\"text-h5 mt-1 font-weight-medium text-blue-lighten-2\">{{ getDisplayLux() }} lx</div>\n                <div class=\"text-caption text-grey\">Lux</div>\n              </div>\n            </v-col>\n          </v-row>\n\n          <v-row class=\"mb-2\">\n            <!-- CO2 -->\n            <v-col cols=\"6\">\n              <div class=\"metric-box pa-3 text-center\">\n                <v-icon color=\"green-lighten-2\" size=\"large\">mdi-molecule-co2</v-icon>\n                <div class=\"text-h5 mt-1 font-weight-medium text-green-lighten-2\">{{ getDisplayCo2() }} ppm</div>\n                <div class=\"text-caption text-grey\">CO2</div>\n              </div>\n            </v-col>\n            <!-- Presence -->\n            <v-col cols=\"6\">\n              <div class=\"metric-box pa-3 text-center\">\n                <v-icon :color=\"getPresenceColor()\" size=\"large\">mdi-account-presence</v-icon>\n                <div class=\"text-h5 mt-1 font-weight-medium\" :class=\"getPresenceColor() === 'green' ? 'text-green' : 'text-grey'\">\n                  {{ getDisplayPresence() }}\n                </div>\n                <div class=\"text-caption text-grey\">Presence</div>\n              </div>\n            </v-col>\n          </v-row>\n        </v-card>\n      </v-col>\n\n      <!-- Control Panel -->\n      <v-col cols=\"12\" md=\"8\">\n        <v-card class=\"detail-panel pa-4 elevation-4 h-100\">\n          <div class=\"text-h6 font-weight-bold mb-4 text-teal-accent-3\">Hardware Controls</div>\n          \n          <v-row class=\"mb-4\">\n            <!-- Lamp Control -->\n            <v-col cols=\"12\" sm=\"6\">\n              <v-card class=\"control-box pa-4 d-flex align-center justify-between\" variant=\"outlined\">\n                <div class=\"d-flex align-center\">\n                  <v-icon :color=\"getDisplayDeviceColor('led')\" class=\"mr-3\" size=\"large\">mdi-lightbulb</v-icon>\n                  <div>\n                    <div class=\"font-weight-medium\">Lamps Power</div>\n                    <div class=\"text-caption text-grey\">\n                      Status: <span :style=\"{ color: getDisplayDeviceStatusColor('led') }\">{{ getDisplayDeviceStatusText('led') }}</span>\n                    </div>\n                  </div>\n                </div>\n                <div class=\"d-flex\" style=\"gap: 8px;\">\n                  <v-btn color=\"success\" size=\"small\" variant=\"elevated\" @click=\"sendControl('led', 1)\">ON</v-btn>\n                  <v-btn color=\"error\" size=\"small\" variant=\"elevated\" @click=\"sendControl('led', 0)\">OFF</v-btn>\n                </div>\n              </v-card>\n            </v-col>\n\n            <!-- Projector Control -->\n            <v-col cols=\"12\" sm=\"6\">\n              <v-card class=\"control-box pa-4 d-flex align-center justify-between\" variant=\"outlined\">\n                <div class=\"d-flex align-center\">\n                  <v-icon :color=\"getDisplayDeviceColor('projector')\" class=\"mr-3\" size=\"large\">mdi-projector</v-icon>\n                  <div>\n                    <div class=\"font-weight-medium\">Projector Screen</div>\n                    <div class=\"text-caption text-grey\">\n                      Status: <span :style=\"{ color: getDisplayDeviceStatusColor('projector') }\">{{ getDisplayDeviceStatusText('projector') }}</span>\n                    </div>\n                  </div>\n                </div>\n                <div class=\"d-flex\" style=\"gap: 8px;\">\n                  <v-btn color=\"success\" size=\"small\" variant=\"elevated\" @click=\"sendControl('projector', 1)\">ON</v-btn>\n                  <v-btn color=\"error\" size=\"small\" variant=\"elevated\" @click=\"sendControl('projector', 0)\">OFF</v-btn>\n                </div>\n              </v-card>\n            </v-col>\n          </v-row>\n\n          <v-row>\n            <!-- AC Control -->\n            <v-col cols=\"12\">\n              <v-card class=\"control-box pa-4\" variant=\"outlined\">\n                <div class=\"d-flex align-center justify-between mb-3\">\n                  <div class=\"d-flex align-center\">\n                    <v-icon :color=\"getDisplayDeviceColor('ac')\" class=\"mr-3\" size=\"large\">mdi-fan</v-icon>\n                    <div>\n                      <div class=\"font-weight-medium\">Air Conditioner</div>\n                      <div class=\"text-caption text-grey\">\n                        Status: <span :style=\"{ color: getDisplayDeviceStatusColor('ac') }\">{{ getDisplayDeviceStatusText('ac') }}</span>\n                      </div>\n                    </div>\n                  </div>\n                  <div class=\"d-flex\" style=\"gap: 8px;\">\n                    <v-btn color=\"success\" size=\"small\" variant=\"elevated\" @click=\"sendAcControl(1)\">ON</v-btn>\n                    <v-btn color=\"error\" size=\"small\" variant=\"elevated\" @click=\"sendAcControl(0)\">OFF</v-btn>\n                  </div>\n                </div>\n                \n                <!-- Target Temp, Fan Speed & Swing Mode selection -->\n                <div v-if=\"getDisplayDeviceColor('ac') !== 'grey'\" class=\"pt-2 px-2\">\n                  <v-row>\n                    <v-col cols=\"12\">\n                      <div class=\"d-flex justify-between text-caption text-grey-lighten-1 mb-2\">\n                        <span>Target Temperature</span>\n                        <span class=\"font-weight-bold text-white text-subtitle-1\">{{ controls.ac_temp }}°C</span>\n                      </div>\n                      <v-slider v-model=\"controls.ac_temp\" min=\"16\" max=\"30\" step=\"1\" thumb-label color=\"cyan\" track-color=\"grey\"></v-slider>\n                    </v-col>\n                  </v-row>\n                  \n                  <v-row class=\"mt-0\">\n                    <v-col cols=\"12\" sm=\"6\" class=\"py-1\">\n                      <v-select v-model=\"controls.ac_fan\" :items=\"fanOptions\" label=\"Fan Speed\" density=\"compact\" variant=\"outlined\" color=\"cyan\" hide-details></v-select>\n                    </v-col>\n                    <v-col cols=\"12\" sm=\"6\" class=\"py-1\">\n                      <v-select v-model=\"controls.ac_swing\" :items=\"swingOptions\" label=\"Swing Mode\" density=\"compact\" variant=\"outlined\" color=\"cyan\" hide-details></v-select>\n                    </v-col>\n                  </v-row>\n                </div>\n              </v-card>\n            </v-col>\n          </v-row>\n        </v-card>\n      </v-col>\n    </v-row>\n\n    <!-- History Chart Section -->\n    <v-card class=\"detail-panel pa-4 mt-6 elevation-4\">\n      <div class=\"d-flex justify-between align-center mb-4 flex-wrap\" style=\"gap: 12px;\">\n        <div class=\"d-flex align-center\">\n          <v-btn v-if=\"isDrilledDown()\" icon=\"mdi-arrow-left\" size=\"small\" color=\"teal-accent-3\" variant=\"outlined\" class=\"mr-3\" @click=\"goBackView\"></v-btn>\n          <div class=\"text-h6 font-weight-bold text-teal-accent-3\">{{ getCurrentViewTitle() }}</div>\n        </div>\n        \n        <!-- Main Chart View Selector -->\n        <div class=\"d-flex align-center\" style=\"gap: 8px;\">\n          <div class=\"text-caption text-grey-lighten-1\">Timeframe:</div>\n          <v-btn-toggle v-model=\"chartView\" :disabled=\"isDrilledDown()\" mandatory color=\"teal-accent-3\" density=\"compact\" variant=\"outlined\" @update:model-value=\"onViewChange\">\n            <v-btn value=\"day\" size=\"small\">Day</v-btn>\n            <v-btn value=\"week\" size=\"small\">Week</v-btn>\n            <v-btn value=\"month\" size=\"small\">Month</v-btn>\n          </v-btn-toggle>\n        </div>\n      </div>\n\n      <!-- Month Specific Sub-Toggle -->\n      <div v-if=\"chartView === 'month' && !isDrilledDown()\" class=\"d-flex justify-end align-center mb-4\" style=\"gap: 8px;\">\n        <span class=\"text-caption text-grey-lighten-1\">Grouping:</span>\n        <v-btn-toggle v-model=\"monthViewGroup\" mandatory color=\"teal-accent-3\" density=\"compact\" variant=\"outlined\" @update:model-value=\"requestHistory\">\n          <v-btn value=\"day\" size=\"small\">Daily (30 Bars)</v-btn>\n          <v-btn value=\"week\" size=\"small\">Weekly (4 Bars)</v-btn>\n        </v-btn-toggle>\n      </div>\n\n      <v-tabs v-model=\"chartTab\" color=\"teal-accent-3\" class=\"mb-4\">\n        <v-tab value=\"temp\">Temperature</v-tab>\n        <v-tab value=\"lux\">Lux</v-tab>\n        <v-tab value=\"co2\">CO2</v-tab>\n      </v-tabs>\n\n      <v-window v-model=\"chartTab\">\n        <!-- Temp Chart Panel -->\n        <v-window-item value=\"temp\">\n          <div class=\"chart-container py-2 text-center\" style=\"position: relative;\">\n            <svg v-if=\"history.temp.length\" viewBox=\"0 0 800 280\" class=\"svg-chart\">\n              <!-- Grid lines & labels -->\n              <line x1=\"60\" y1=\"20\" x2=\"60\" y2=\"240\" stroke=\"rgba(255,255,255,0.1)\" stroke-width=\"1\"></line>\n              <line x1=\"60\" y1=\"240\" x2=\"750\" y2=\"240\" stroke=\"rgba(255,255,255,0.1)\" stroke-width=\"1\"></line>\n              \n              <text x=\"55\" y=\"25\" fill=\"rgba(255,255,255,0.5)\" font-size=\"10\" text-anchor=\"end\">{{ getYLabel('temp', 'max') }}</text>\n              <text x=\"55\" y=\"135\" fill=\"rgba(255,255,255,0.5)\" font-size=\"10\" text-anchor=\"end\">{{ getYLabel('temp', 'mid') }}</text>\n              <text x=\"55\" y=\"245\" fill=\"rgba(255,255,255,0.5)\" font-size=\"10\" text-anchor=\"end\">{{ getYLabel('temp', 'min') }}</text>\n              \n              <!-- LINE CHART (Day mode) -->\n              <template v-if=\"getCurrentRenderMode() === 'day'\">\n                <text x=\"60\" y=\"260\" fill=\"rgba(255,255,255,0.5)\" font-size=\"10\" text-anchor=\"start\">{{ getXTimeLabel('start') }}</text>\n                <text x=\"750\" y=\"260\" fill=\"rgba(255,255,255,0.5)\" font-size=\"10\" text-anchor=\"end\">{{ getXTimeLabel('end') }}</text>\n                <path :d=\"getPath(history.temp)\" fill=\"none\" stroke=\"#ffb74d\" stroke-width=\"2.5\"></path>\n                <circle v-for=\"(p, idx) in getPoints(history.temp)\" :key=\"'pt-'+idx\" :cx=\"p.x\" :cy=\"p.y\" r=\"4.5\" fill=\"#ffb74d\"></circle>\n                <circle v-for=\"(p, idx) in getPoints(history.temp)\" :key=\"'hpt-'+idx\" :cx=\"p.x\" :cy=\"p.y\" r=\"14\" fill=\"transparent\" style=\"cursor: pointer;\" @mouseover=\"setHoverPoint(p, 'C', $event)\" @mouseleave=\"clearHoverPoint\"></circle>\n              </template>\n\n              <!-- BAR CHART (Week or Month mode) -->\n              <template v-else>\n                <rect v-for=\"(bar, idx) in getBars(history.temp)\" :key=\"'bar-'+idx\"\n                  :x=\"bar.x\" :y=\"bar.y\" :width=\"bar.width\" :height=\"bar.height\"\n                  fill=\"#ffb74d\" fill-opacity=\"0.8\" rx=\"3\" ry=\"3\"\n                  style=\"cursor: pointer; transition: fill-opacity 0.2s;\"\n                  @mouseover=\"setBarHover(bar, 'temp', $event)\" @mouseleave=\"clearHoverPoint\"\n                  @click=\"onBarClick(bar)\">\n                </rect>\n                <text v-for=\"(bar, idx) in getBars(history.temp)\" \n                  v-if=\"getCurrentRenderMode() !== 'month' || monthViewGroup !== 'day' || idx % 3 === 0\"\n                  :key=\"'lbl-'+idx\" :x=\"bar.x + bar.width/2\" y=\"258\"\n                  fill=\"rgba(255,255,255,0.5)\" font-size=\"9\" text-anchor=\"middle\">\n                  {{ bar.label }}\n                </text>\n              </template>\n            </svg>\n            <div v-else class=\"py-10 text-grey text-caption\">No recent data available</div>\n            \n            <!-- Tooltip -->\n            <div v-if=\"hoverPoint\" class=\"chart-tooltip text-caption\" :style=\"{ left: hoverPoint.x + 'px', top: (hoverPoint.y - 15) + 'px' }\">\n              <strong>{{ hoverPoint.value }} {{ hoverPoint.unit }}</strong><br>\n              <span class=\"text-grey-lighten-1\">{{ hoverPoint.dateLabel }}</span>\n            </div>\n          </div>\n        </v-window-item>\n\n        <!-- Lux Chart Panel -->\n        <v-window-item value=\"lux\">\n          <div class=\"chart-container py-2 text-center\" style=\"position: relative;\">\n            <svg v-if=\"history.lux.length\" viewBox=\"0 0 800 280\" class=\"svg-chart\">\n              <!-- Grid lines & labels -->\n              <line x1=\"60\" y1=\"20\" x2=\"60\" y2=\"240\" stroke=\"rgba(255,255,255,0.1)\" stroke-width=\"1\"></line>\n              <line x1=\"60\" y1=\"240\" x2=\"750\" y2=\"240\" stroke=\"rgba(255,255,255,0.1)\" stroke-width=\"1\"></line>\n              \n              <text x=\"55\" y=\"25\" fill=\"rgba(255,255,255,0.5)\" font-size=\"10\" text-anchor=\"end\">{{ getYLabel('lux', 'max') }}</text>\n              <text x=\"55\" y=\"135\" fill=\"rgba(255,255,255,0.5)\" font-size=\"10\" text-anchor=\"end\">{{ getYLabel('lux', 'mid') }}</text>\n              <text x=\"55\" y=\"245\" fill=\"rgba(255,255,255,0.5)\" font-size=\"10\" text-anchor=\"end\">{{ getYLabel('lux', 'min') }}</text>\n              \n              <!-- LINE CHART (Day mode) -->\n              <template v-if=\"getCurrentRenderMode() === 'day'\">\n                <text x=\"60\" y=\"260\" fill=\"rgba(255,255,255,0.5)\" font-size=\"10\" text-anchor=\"start\">{{ getXTimeLabel('start') }}</text>\n                <text x=\"750\" y=\"260\" fill=\"rgba(255,255,255,0.5)\" font-size=\"10\" text-anchor=\"end\">{{ getXTimeLabel('end') }}</text>\n                <path :d=\"getPath(history.lux)\" fill=\"none\" stroke=\"#64b5f6\" stroke-width=\"2.5\"></path>\n                <circle v-for=\"(p, idx) in getPoints(history.lux)\" :key=\"'pt-'+idx\" :cx=\"p.x\" :cy=\"p.y\" r=\"4.5\" fill=\"#64b5f6\"></circle>\n                <circle v-for=\"(p, idx) in getPoints(history.lux)\" :key=\"'hpt-'+idx\" :cx=\"p.x\" :cy=\"p.y\" r=\"14\" fill=\"transparent\" style=\"cursor: pointer;\" @mouseover=\"setHoverPoint(p, 'Lx', $event)\" @mouseleave=\"clearHoverPoint\"></circle>\n              </template>\n\n              <!-- BAR CHART (Week or Month mode) -->\n              <template v-else>\n                <rect v-for=\"(bar, idx) in getBars(history.lux)\" :key=\"'bar-'+idx\"\n                  :x=\"bar.x\" :y=\"bar.y\" :width=\"bar.width\" :height=\"bar.height\"\n                  fill=\"#64b5f6\" fill-opacity=\"0.8\" rx=\"3\" ry=\"3\"\n                  style=\"cursor: pointer; transition: fill-opacity 0.2s;\"\n                  @mouseover=\"setBarHover(bar, 'lux', $event)\" @mouseleave=\"clearHoverPoint\"\n                  @click=\"onBarClick(bar)\">\n                </rect>\n                <text v-for=\"(bar, idx) in getBars(history.lux)\" \n                  v-if=\"getCurrentRenderMode() !== 'month' || monthViewGroup !== 'day' || idx % 3 === 0\"\n                  :key=\"'lbl-'+idx\" :x=\"bar.x + bar.width/2\" y=\"258\"\n                  fill=\"rgba(255,255,255,0.5)\" font-size=\"9\" text-anchor=\"middle\">\n                  {{ bar.label }}\n                </text>\n              </template>\n            </svg>\n            <div v-else class=\"py-10 text-grey text-caption\">No recent data available</div>\n            \n            <!-- Tooltip -->\n            <div v-if=\"hoverPoint\" class=\"chart-tooltip text-caption\" :style=\"{ left: hoverPoint.x + 'px', top: (hoverPoint.y - 15) + 'px' }\">\n              <strong>{{ hoverPoint.value }} {{ hoverPoint.unit }}</strong><br>\n              <span class=\"text-grey-lighten-1\">{{ hoverPoint.dateLabel }}</span>\n            </div>\n          </div>\n        </v-window-item>\n\n        <!-- CO2 Chart Panel -->\n        <v-window-item value=\"co2\">\n          <div class=\"chart-container py-2 text-center\" style=\"position: relative;\">\n            <svg v-if=\"history.co2.length\" viewBox=\"0 0 800 280\" class=\"svg-chart\">\n              <!-- Grid lines & labels -->\n              <line x1=\"60\" y1=\"20\" x2=\"60\" y2=\"240\" stroke=\"rgba(255,255,255,0.1)\" stroke-width=\"1\"></line>\n              <line x1=\"60\" y1=\"240\" x2=\"750\" y2=\"240\" stroke=\"rgba(255,255,255,0.1)\" stroke-width=\"1\"></line>\n              \n              <text x=\"55\" y=\"25\" fill=\"rgba(255,255,255,0.5)\" font-size=\"10\" text-anchor=\"end\">{{ getYLabel('co2', 'max') }}</text>\n              <text x=\"55\" y=\"135\" fill=\"rgba(255,255,255,0.5)\" font-size=\"10\" text-anchor=\"end\">{{ getYLabel('co2', 'mid') }}</text>\n              <text x=\"55\" y=\"245\" fill=\"rgba(255,255,255,0.5)\" font-size=\"10\" text-anchor=\"end\">{{ getYLabel('co2', 'min') }}</text>\n              \n              <!-- LINE CHART (Day mode) -->\n              <template v-if=\"getCurrentRenderMode() === 'day'\">\n                <text x=\"60\" y=\"260\" fill=\"rgba(255,255,255,0.5)\" font-size=\"10\" text-anchor=\"start\">{{ getXTimeLabel('start') }}</text>\n                <text x=\"750\" y=\"260\" fill=\"rgba(255,255,255,0.5)\" font-size=\"10\" text-anchor=\"end\">{{ getXTimeLabel('end') }}</text>\n                <path :d=\"getPath(history.co2)\" fill=\"none\" stroke=\"#81c784\" stroke-width=\"2.5\"></path>\n                <circle v-for=\"(p, idx) in getPoints(history.co2)\" :key=\"'pt-'+idx\" :cx=\"p.x\" :cy=\"p.y\" r=\"4.5\" fill=\"#81c784\"></circle>\n                <circle v-for=\"(p, idx) in getPoints(history.co2)\" :key=\"'hpt-'+idx\" :cx=\"p.x\" :cy=\"p.y\" r=\"14\" fill=\"transparent\" style=\"cursor: pointer;\" @mouseover=\"setHoverPoint(p, 'ppm', $event)\" @mouseleave=\"clearHoverPoint\"></circle>\n              </template>\n\n              <!-- BAR CHART (Week or Month mode) -->\n              <template v-else>\n                <rect v-for=\"(bar, idx) in getBars(history.co2)\" :key=\"'bar-'+idx\"\n                  :x=\"bar.x\" :y=\"bar.y\" :width=\"bar.width\" :height=\"bar.height\"\n                  fill=\"#81c784\" fill-opacity=\"0.8\" rx=\"3\" ry=\"3\"\n                  style=\"cursor: pointer; transition: fill-opacity 0.2s;\"\n                  @mouseover=\"setBarHover(bar, 'co2', $event)\" @mouseleave=\"clearHoverPoint\"\n                  @click=\"onBarClick(bar)\">\n                </rect>\n                <text v-for=\"(bar, idx) in getBars(history.co2)\" \n                  v-if=\"getCurrentRenderMode() !== 'month' || monthViewGroup !== 'day' || idx % 3 === 0\"\n                  :key=\"'lbl-'+idx\" :x=\"bar.x + bar.width/2\" y=\"258\"\n                  fill=\"rgba(255,255,255,0.5)\" font-size=\"9\" text-anchor=\"middle\">\n                  {{ bar.label }}\n                </text>\n              </template>\n            </svg>\n            <div v-else class=\"py-10 text-grey text-caption\">No recent data available</div>\n            \n            <!-- Tooltip -->\n            <div v-if=\"hoverPoint\" class=\"chart-tooltip text-caption\" :style=\"{ left: hoverPoint.x + 'px', top: (hoverPoint.y - 15) + 'px' }\">\n              <strong>{{ hoverPoint.value }} {{ hoverPoint.unit }}</strong><br>\n              <span class=\"text-grey-lighten-1\">{{ hoverPoint.dateLabel }}</span>\n            </div>\n          </div>\n        </v-window-item>\n      </v-window>\n    </v-card>\n  </div>\n</template>\n\n<script>\nexport default {\n  data() {\n    return {\n      roomName: '',\n      roomState: {\n        room: '',\n        temp: '-',\n        lux: '-',\n        co2: '-',\n        led_data: 0,\n        ac_data: 0,\n        projector_data: 0,\n        active: 0,\n        lastSeenTemp: 0,\n        lastSeenLux: 0,\n        lastSeenCo2: 0,\n        lastSeenActive: 0,\n        lastSeenLed: 0,\n        lastSeenAc: 0,\n        lastSeenProjector: 0\n      },\n      controls: {\n        led: false,\n        ac: false,\n        ac_temp: 24,\n        ac_fan: '00',\n        ac_swing: '00',\n        projector: false\n      },\n      history: {\n        temp: [],\n        lux: [],\n        co2: []\n      },\n      chartTab: 'temp',\n      chartView: 'day',\n      monthViewGroup: 'day',\n      hoverPoint: null,\n      viewHistory: [],\n      timeoutInterval: null,\n      fanOptions: [\n        { title: 'Auto', value: '00' },\n        { title: 'Low', value: '01' },\n        { title: 'Medium', value: '02' },\n        { title: 'High', value: '03' },\n        { title: 'Quiet', value: '04' },\n        { title: 'Turbo', value: '05' }\n      ],\n      swingOptions: [\n        { title: 'Off/Fixed', value: '00' },\n        { title: 'Auto Swing', value: '01' },\n        { title: 'Up', value: '02' },\n        { title: 'Mid-Up', value: '03' },\n        { title: 'Middle', value: '04' },\n        { title: 'Mid-Down', value: '05' },\n        { title: 'Down', value: '06' },\n        { title: 'Step Next', value: '07' },\n        { title: 'Step Prev', value: '08' },\n        { title: 'Comfort', value: '09' },\n        { title: 'Powerful', value: '10' }\n      ]\n    }\n  },\n  watch: {\n    msg: {\n      handler(newMsg) {\n        if (!newMsg) return;\n        \n        // Handle init_room\n        if (newMsg.topic === 'init_room' && newMsg.payload) {\n          this.roomName = newMsg.payload.room;\n          this.roomState.room = this.roomName;\n          \n          // Reset controls\n          this.controls.led = false;\n          this.controls.ac = false;\n          this.controls.projector = false;\n          this.controls.ac_temp = 24;\n          this.controls.ac_fan = '00';\n          this.controls.ac_swing = '00';\n          \n          // Reset range\n          this.chartView = 'day';\n          this.monthViewGroup = 'day';\n          this.viewHistory = [];\n          this.hoverPoint = null;\n        }\n        \n        // Handle initial room state\n        if (newMsg.topic === 'room_state' && newMsg.payload) {\n          if (newMsg.payload.room === this.roomName) {\n            this.roomState = newMsg.payload;\n            this.controls.led = this.roomState.led_data === 1;\n            this.controls.ac = this.roomState.ac_data === 1;\n            this.controls.projector = this.roomState.projector_data === 1;\n            this.controls.ac_temp = this.roomState.ac_temp || 24;\n            this.controls.ac_fan = this.roomState.ac_fan || '00';\n            this.controls.ac_swing = this.roomState.ac_swing || '00';\n            \n            // Sync initial timeouts timestamps from backend\n            const now = Date.now();\n            this.roomState.lastSeenTemp = this.roomState.lastSeenTemp || now;\n            this.roomState.lastSeenLux = this.roomState.lastSeenLux || now;\n            this.roomState.lastSeenCo2 = this.roomState.lastSeenCo2 || now;\n            this.roomState.lastSeenActive = this.roomState.lastSeenActive || now;\n            this.roomState.lastSeenLed = this.roomState.lastSeenLed || now;\n            this.roomState.lastSeenAc = this.roomState.lastSeenAc || now;\n            this.roomState.lastSeenProjector = this.roomState.lastSeenProjector || now;\n          }\n        }\n        \n        // Handle live streaming updates from MQTT\n        if (newMsg.topic === 'live_data' && newMsg.payload) {\n          let field = newMsg.payload.field;\n          let val = newMsg.payload.value;\n          let now = Date.now();\n          \n          if (field === 'temp' || field === 'temperature') {\n            this.roomState.temp = parseFloat(val).toFixed(1);\n            this.roomState.lastSeenTemp = now;\n          } else if (field === 'lux') {\n            this.roomState.lux = val;\n            this.roomState.lastSeenLux = now;\n          } else if (field === 'co2') {\n            this.roomState.co2 = val;\n            this.roomState.lastSeenCo2 = now;\n          } else if (field === 'led_data' || field === 'led') {\n            this.roomState.led_data = parseInt(val, 10);\n            this.controls.led = this.roomState.led_data === 1;\n            this.roomState.lastSeenLed = now;\n          } else if (field === 'ac_data' || field === 'ac') {\n            // Check if 8-char string or integer\n            let strVal = String(val);\n            if (strVal.length === 8) {\n              let power = strVal.substring(0, 2);\n              let temp = parseInt(strVal.substring(2, 4), 10);\n              let fan = strVal.substring(4, 6);\n              let swing = strVal.substring(6, 8);\n              this.roomState.ac_data = power === \"01\" ? 1 : 0;\n              if (!isNaN(temp)) this.roomState.ac_temp = temp;\n              this.roomState.ac_fan = fan;\n              this.roomState.ac_swing = swing;\n              \n              // Update interactive controls bindings\n              this.controls.ac = this.roomState.ac_data === 1;\n              this.controls.ac_temp = this.roomState.ac_temp;\n              this.controls.ac_fan = this.roomState.ac_fan;\n              this.controls.ac_swing = this.roomState.ac_swing;\n            } else {\n              this.roomState.ac_data = parseInt(val, 10);\n              this.controls.ac = this.roomState.ac_data === 1;\n            }\n            this.roomState.lastSeenAc = now;\n          } else if (field === 'projector_data' || field === 'projector') {\n            this.roomState.projector_data = parseInt(val, 10);\n            this.controls.projector = this.roomState.projector_data === 1;\n            this.roomState.lastSeenProjector = now;\n          } else if (field === 'ac_temp') {\n            this.controls.ac_temp = parseInt(val, 10);\n          } else if (field === 'active') {\n            this.roomState.active = parseInt(val, 10);\n            this.roomState.lastSeenActive = now;\n          }\n        }\n        \n        // Handle history charts update\n        if (newMsg.topic === 'history' && newMsg.payload) {\n          if (newMsg.room === this.roomName) {\n            const renderMode = this.getCurrentRenderMode();\n            const start = this.viewHistory.length > 0 ? this.viewHistory[this.viewHistory.length - 1].start : null;\n            const stop = this.viewHistory.length > 0 ? this.viewHistory[this.viewHistory.length - 1].stop : null;\n            \n            this.history.temp = this.fillMissingHistory(newMsg.payload.temp, renderMode, start, stop);\n            this.history.lux = this.fillMissingHistory(newMsg.payload.lux, renderMode, start, stop);\n            this.history.co2 = this.fillMissingHistory(newMsg.payload.co2, renderMode, start, stop);\n          }\n        }\n      },\n      deep: true,\n      immediate: true\n    }\n  },\n  mounted() {\n    this.send({\n      topic: 'detail_mounted'\n    });\n    // Set up a 1-second interval to check for timeouts\n    this.timeoutInterval = setInterval(() => {\n      this.$forceUpdate();\n    }, 1000);\n  },\n  beforeUnmount() {\n    if (this.timeoutInterval) {\n      clearInterval(this.timeoutInterval);\n    }\n  },\n  methods: {\n    goBack() {\n      this.send({\n        topic: 'go_back'\n      });\n    },\n    onViewChange() {\n      this.hoverPoint = null;\n      this.viewHistory = [];\n      this.requestHistory();\n    },\n    requestHistory() {\n      if (!this.roomName) return;\n      this.history = { temp: [], lux: [], co2: [] };\n      this.hoverPoint = null;\n      \n      let start = null;\n      let stop = null;\n      let range = null;\n      let window = 'none';\n      \n      if (this.viewHistory.length > 0) {\n        const topView = this.viewHistory[this.viewHistory.length - 1];\n        start = topView.start;\n        stop = topView.stop;\n        window = topView.window;\n      } else {\n        if (this.chartView === 'day') {\n          range = '24h';\n          window = 'none';\n        } else if (this.chartView === 'week') {\n          range = '7d';\n          window = '1d';\n        } else if (this.chartView === 'month') {\n          if (this.monthViewGroup === 'day') {\n            range = '30d';\n            window = '1d';\n          } else {\n            range = '28d';\n            window = '7d';\n          }\n        }\n      }\n      \n      this.send({\n        topic: 'get_history',\n        payload: {\n          room: this.roomName,\n          start: start,\n          stop: stop,\n          range: range,\n          window: window\n        }\n      });\n    },\n    sendControl(device, value) {\n      this.send({\n        topic: 'control',\n        payload: {\n          room: this.roomName,\n          device: device,\n          value: value\n        }\n      });\n    },\n    sendAcControl(powerState) {\n      const pp = powerState === 1 ? \"01\" : \"00\";\n      const tt = String(this.controls.ac_temp).padStart(2, '0');\n      const ff = this.controls.ac_fan || \"00\";\n      const ss = this.controls.ac_swing || \"00\";\n      const payload = pp + tt + ff + ss;\n      \n      this.sendControl('ac', payload);\n    },\n    \n    // Telemetry display logic with 5-minute timeout checks\n    getDisplayTemp() {\n      const elapsed = Date.now() - (this.roomState.lastSeenTemp || 0);\n      return (elapsed > 300000 || this.roomState.temp === '-') ? '-' : this.roomState.temp;\n    },\n    getDisplayLux() {\n      const elapsed = Date.now() - (this.roomState.lastSeenLux || 0);\n      return (elapsed > 300000 || this.roomState.lux === '-') ? '-' : this.roomState.lux;\n    },\n    getDisplayCo2() {\n      const elapsed = Date.now() - (this.roomState.lastSeenCo2 || 0);\n      return (elapsed > 300000 || this.roomState.co2 === '-') ? '-' : this.roomState.co2;\n    },\n    getDisplayPresence() {\n      const elapsed = Date.now() - (this.roomState.lastSeenActive || 0);\n      return (elapsed > 300000) ? 'Offline' : (this.roomState.active === 1 ? 'Active' : 'Offline');\n    },\n    getPresenceColor() {\n      const elapsed = Date.now() - (this.roomState.lastSeenActive || 0);\n      if (elapsed > 300000) return 'grey';\n      return this.roomState.active === 1 ? 'green' : 'grey';\n    },\n    \n    // Device display logic with 5-minute timeout checks\n    getDisplayDeviceColor(device) {\n      let state = 0;\n      let elapsed = 0;\n      \n      if (device === 'led') {\n        state = this.roomState.led_data;\n        elapsed = Date.now() - (this.roomState.lastSeenLed || 0);\n      } else if (device === 'ac') {\n        state = this.roomState.ac_data;\n        elapsed = Date.now() - (this.roomState.lastSeenAc || 0);\n      } else if (device === 'projector') {\n        state = this.roomState.projector_data;\n        elapsed = Date.now() - (this.roomState.lastSeenProjector || 0);\n      }\n      \n      if (elapsed > 300000) return 'grey';\n      return state === 1 ? 'green' : 'red';\n    },\n    getDisplayDeviceStatusText(device) {\n      const color = this.getDisplayDeviceColor(device);\n      if (color === 'green') return 'ON';\n      if (color === 'red') return 'OFF';\n      return 'Offline';\n    },\n    getDisplayDeviceStatusColor(device) {\n      const color = this.getDisplayDeviceColor(device);\n      if (color === 'green') return '#4caf50';\n      if (color === 'red') return '#f44336';\n      return '#9e9e9e';\n    },\n    \n    // Filling database trend points gaps with 0\n    fillMissingHistory(data, viewMode, focusStart, focusEnd) {\n      if (!data) return [];\n      \n      const result = [...data];\n      const end = focusEnd ? new Date(focusEnd) : new Date();\n      \n      if (viewMode === 'week') {\n        for (let i = 0; i < 7; i++) {\n          const d = new Date(end);\n          d.setDate(d.getDate() - i);\n          d.setHours(0, 0, 0, 0);\n          const dayStart = d.getTime();\n          const dayEnd = dayStart + 24 * 3600 * 1000 - 1;\n          \n          const exists = result.some(p => p.x >= dayStart && p.x <= dayEnd);\n          if (!exists) {\n            result.push({ x: dayStart + 12 * 3600 * 1000, y: 0 });\n          }\n        }\n      } else if (viewMode === 'month' && this.monthViewGroup === 'day') {\n        for (let i = 0; i < 30; i++) {\n          const d = new Date(end);\n          d.setDate(d.getDate() - i);\n          d.setHours(0, 0, 0, 0);\n          const dayStart = d.getTime();\n          const dayEnd = dayStart + 24 * 3600 * 1000 - 1;\n          \n          const exists = result.some(p => p.x >= dayStart && p.x <= dayEnd);\n          if (!exists) {\n            result.push({ x: dayStart + 12 * 3600 * 1000, y: 0 });\n          }\n        }\n      } else if (viewMode === 'month' && this.monthViewGroup === 'week') {\n        for (let i = 0; i < 4; i++) {\n          const stop = new Date(end);\n          stop.setDate(stop.getDate() - i * 7);\n          const start = new Date(stop);\n          start.setDate(start.getDate() - 7);\n          \n          const exists = result.some(p => p.x >= start.getTime() && p.x <= stop.getTime());\n          if (!exists) {\n            result.push({ x: stop.getTime(), y: 0 });\n          }\n        }\n      }\n      \n      return result.sort((a, b) => a.x - b.x);\n    },\n    \n    getYLabel(field, position) {\n      const data = this.history[field];\n      if (!data || data.length === 0) return '';\n      const vals = data.map(p => p.y);\n      const minVal = Math.min(...vals);\n      const maxVal = Math.max(...vals);\n      \n      let val = 0;\n      if (position === 'max') val = maxVal;\n      else if (position === 'min') val = minVal;\n      else val = (minVal + maxVal) / 2;\n      \n      let unit = '';\n      if (field === 'temp') unit = 'C';\n      else if (field === 'lux') unit = 'Lx';\n      else if (field === 'co2') unit = 'ppm';\n      \n      return val.toFixed(1) + ' ' + unit;\n    },\n    getXTimeLabel(position) {\n      const activeData = this.history[this.chartTab];\n      if (!activeData || activeData.length === 0) return '';\n      \n      let t = 0;\n      if (position === 'start') {\n        t = activeData[0].x;\n      } else {\n        t = activeData[activeData.length - 1].x;\n      }\n      \n      return this.formatTime(t);\n    },\n    formatTime(timestamp) {\n      const d = new Date(timestamp);\n      const pad = (num) => String(num).padStart(2, '0');\n      return pad(d.getHours()) + ':' + pad(d.getMinutes());\n    },\n    formatDate(timestamp) {\n      const d = new Date(timestamp);\n      const pad = (num) => String(num).padStart(2, '0');\n      return pad(d.getDate()) + '/' + pad(d.getMonth() + 1);\n    },\n    getPath(data) {\n      const points = this.getPoints(data);\n      if (points.length < 2) return '';\n      return 'M ' + points.map(p => p.x + ',' + p.y).join(' L ');\n    },\n    getPoints(data) {\n      if (!data || data.length === 0) return [];\n      \n      const minX = Math.min(...data.map(p => p.x));\n      const maxX = Math.max(...data.map(p => p.x));\n      const minY = Math.min(...data.map(p => p.y));\n      const maxY = Math.max(...data.map(p => p.y));\n      \n      const startX = 60;\n      const endX = 750;\n      const startY = 20;\n      const endY = 240;\n      \n      return data.map(p => {\n        const x = startX + ((p.x - minX) / (maxX - minX || 1)) * (endX - startX);\n        const y = endY - ((p.y - minY) / (maxY - minY || 1)) * (endY - startY);\n        return {\n          x: x,\n          y: y,\n          value: p.y.toFixed(1),\n          time: p.x\n        };\n      });\n    },\n    setHoverPoint(p, unit, event) {\n      const circle = event.target;\n      const bbox = circle.getBoundingClientRect();\n      const container = circle.closest('.chart-container');\n      if (!container) return;\n      const containerRect = container.getBoundingClientRect();\n      \n      const left = bbox.left - containerRect.left + bbox.width / 2;\n      const top = bbox.top - containerRect.top;\n      \n      this.hoverPoint = {\n        x: left,\n        y: top,\n        value: p.value,\n        unit: unit,\n        dateLabel: this.formatDate(p.time) + ' ' + this.formatTime(p.time)\n      };\n    },\n    clearHoverPoint() {\n      this.hoverPoint = null;\n    },\n    getBars(data) {\n      if (!data || data.length === 0) return [];\n      \n      const vals = data.map(p => p.y);\n      const minVal = 0;\n      const maxVal = Math.max(...vals, 1);\n      \n      const startX = 60;\n      const endX = 750;\n      const startY = 20;\n      const endY = 240;\n      \n      const totalWidth = endX - startX;\n      const totalHeight = endY - startY;\n      \n      const numBars = data.length;\n      const gapRatio = 0.25;\n      const barWidth = (totalWidth / numBars) * (1 - gapRatio);\n      const gapWidth = (totalWidth / numBars) * gapRatio;\n      \n      return data.map((p, idx) => {\n        const colWidth = totalWidth / numBars;\n        const x = startX + idx * colWidth + gapWidth / 2;\n        \n        const valRatio = p.y / maxVal;\n        const height = valRatio * totalHeight;\n        const y = endY - height;\n        \n        return {\n          x: x,\n          y: y,\n          width: barWidth,\n          height: height,\n          value: p.y.toFixed(1),\n          time: p.x,\n          label: this.formatBarXLabel(p.x)\n        };\n      });\n    },\n    formatBarXLabel(timestamp) {\n      const d = new Date(timestamp);\n      let mode = this.chartView;\n      if (this.viewHistory.length > 0) {\n        mode = this.viewHistory[this.viewHistory.length - 1].view;\n      }\n      \n      if (mode === 'week') {\n        const days = [\"Sun\", \"Mon\", \"Tue\", \"Wed\", \"Thu\", \"Fri\", \"Sat\"];\n        return days[d.getDay()];\n      } else if (mode === 'month' && this.monthViewGroup === 'day') {\n        return d.getDate();\n      } else if (mode === 'month' && this.monthViewGroup === 'week') {\n        return 'Wk ' + (Math.floor((d.getDate() - 1) / 7) + 1);\n      }\n      return '';\n    },\n    setBarHover(bar, field, event) {\n      let unit = '';\n      if (field === 'temp') unit = 'C';\n      else if (field === 'lux') unit = 'Lx';\n      else if (field === 'co2') unit = 'ppm';\n      \n      let mode = this.chartView;\n      if (this.viewHistory.length > 0) {\n        mode = this.viewHistory[this.viewHistory.length - 1].view;\n      }\n      \n      const d = new Date(bar.time);\n      let dateLabel = '';\n      if (mode === 'week') {\n        const days = [\"Sunday\", \"Monday\", \"Tuesday\", \"Wednesday\", \"Thursday\", \"Friday\", \"Saturday\"];\n        dateLabel = days[d.getDay()] + ', ' + d.toLocaleDateString();\n      } else if (mode === 'month' && this.monthViewGroup === 'day') {\n        dateLabel = d.toLocaleDateString();\n      } else if (mode === 'month' && this.monthViewGroup === 'week') {\n        const startD = new Date(d.getTime() - 6 * 24 * 3600 * 1000);\n        dateLabel = startD.toLocaleDateString() + ' - ' + d.toLocaleDateString();\n      }\n      \n      const rect = event.target;\n      const bbox = rect.getBoundingClientRect();\n      const container = rect.closest('.chart-container');\n      if (!container) return;\n      const containerRect = container.getBoundingClientRect();\n      \n      const left = bbox.left - containerRect.left + bbox.width / 2;\n      const top = bbox.top - containerRect.top;\n      \n      this.hoverPoint = {\n        x: left,\n        y: top,\n        value: bar.value,\n        unit: unit,\n        dateLabel: dateLabel\n      };\n    },\n    onBarClick(bar) {\n      let currentMode = this.chartView;\n      if (this.viewHistory.length > 0) {\n        currentMode = this.viewHistory[this.viewHistory.length - 1].view;\n      }\n      \n      const d = new Date(bar.time);\n      \n      if (currentMode === 'week' || (currentMode === 'month' && this.monthViewGroup === 'day')) {\n        const start = new Date(d);\n        start.setHours(0, 0, 0, 0);\n        const stop = new Date(d);\n        stop.setHours(23, 59, 59, 999);\n        \n        this.viewHistory.push({\n          view: 'day',\n          start: start.toISOString(),\n          stop: stop.toISOString(),\n          window: 'none',\n          title: 'Daily Trend (' + d.toLocaleDateString() + ')'\n        });\n        \n        this.requestHistory();\n      } else if (currentMode === 'month' && this.monthViewGroup === 'week') {\n        const stop = new Date(d);\n        const start = new Date(d.getTime() - 7 * 24 * 3600 * 1000 + 1);\n        \n        this.viewHistory.push({\n          view: 'week',\n          start: start.toISOString(),\n          stop: stop.toISOString(),\n          window: '1d',\n          title: 'Weekly Trend (' + start.toLocaleDateString() + ' - ' + stop.toLocaleDateString() + ')'\n        });\n        \n        this.requestHistory();\n      }\n    },\n    goBackView() {\n      this.viewHistory.pop();\n      this.requestHistory();\n    },\n    getCurrentViewTitle() {\n      if (this.viewHistory.length > 0) {\n        return this.viewHistory[this.viewHistory.length - 1].title;\n      }\n      if (this.chartView === 'day') return 'Daily Trend (24h Raw Line)';\n      if (this.chartView === 'week') return 'Weekly Trend (Daily Averages)';\n      if (this.chartView === 'month') {\n        return this.monthViewGroup === 'day' ? 'Monthly Trend (Daily Averages)' : 'Monthly Trend (Weekly Averages)';\n      }\n      return 'Historical Trends';\n    },\n    isDrilledDown() {\n      return this.viewHistory.length > 0;\n    },\n    getCurrentRenderMode() {\n      if (this.viewHistory.length > 0) {\n        return this.viewHistory[this.viewHistory.length - 1].view;\n      }\n      return this.chartView;\n    }\n  }\n}\n</script>\n\n<style>\n/* Remove dashboard internal scrollbar and allow natural page scroll */\n.nrdb-layout, .nrdb-page, .nrdb-grid, .v-main, .v-application {\n  height: auto !important;\n  overflow-y: visible !important;\n}\n.detail-header-card {\n  background: rgba(22, 32, 51, 0.8) !important;\n  backdrop-filter: blur(10px);\n  border: 1px solid rgba(255, 255, 255, 0.1) !important;\n  border-radius: 12px !important;\n}\n.detail-panel {\n  background: rgba(22, 32, 51, 0.75) !important;\n  backdrop-filter: blur(10px);\n  border: 1px solid rgba(255, 255, 255, 0.08) !important;\n  border-radius: 12px !important;\n  overflow-y: visible !important;\n  height: auto !important;\n}\n.metric-box {\n  background: rgba(16, 25, 42, 0.6);\n  border: 1px solid rgba(255, 255, 255, 0.05);\n  border-radius: 8px;\n}\n.control-box {\n  background-color: rgba(22, 32, 51, 0.5) !important;\n  border-color: rgba(255, 255, 255, 0.08) !important;\n  border-radius: 8px !important;\n}\n.chart-container {\n  background-color: rgba(16, 25, 42, 0.8);\n  border-radius: 8px;\n  border: 1px solid rgba(255, 255, 255, 0.05);\n  overflow: visible !important;\n}\n.svg-chart {\n  width: 100%;\n  height: 280px;\n  overflow: visible;\n}\n.chart-tooltip {\n  position: absolute;\n  background: rgba(0, 0, 0, 0.85);\n  border: 1px solid rgba(255, 255, 255, 0.15);\n  padding: 4px 8px;\n  border-radius: 4px;\n  color: white;\n  pointer-events: none;\n  transform: translate(-50%, -100%);\n  z-index: 10;\n  box-shadow: 0 4px 6px rgba(0,0,0,0.3);\n}\nrect:hover {\n  fill-opacity: 1 !important;\n}\n.detail-container {\n  font-family: 'Outfit', 'Inter', sans-serif;\n  overflow-x: hidden;\n  height: auto !important;\n  overflow-y: visible !important;\n}\n</style>\n",
        "templateScope": "local",
        "x": 480,
        "y": 420,
        "wires": [
            [
                "detail_router"
            ]
        ]
    },
    {
        "id": "detail_router",
        "type": "function",
        "z": "38555e5d51f8978d",
        "name": "Detail Interaction Router",
        "func": "if (msg.topic === \"select_room\") {\n    let room = msg.payload;\n    flow.set(\"selectedRoom\", room);\n    \n    let msgNavigate = {\n        payload: {\n            page: \"Classroom Detail\"\n        }\n    };\n    \n    let roomsState = flow.get(\"roomsState\") || {};\n    let roomState = roomsState[room] || {\n        room: room,\n        temp: \"-\",\n        lux: \"-\",\n        co2: \"-\",\n        led_data: 0,\n        ac_data: 0,\n        projector_data: 0,\n        ac_temp: 24,\n        active: 0\n      };\n    \n    let msgState = {\n        topic: \"room_state\",\n        payload: roomState\n    };\n    \n    let msgHistoryQuery = {\n        topic: \"get_history\",\n        payload: {\n            room: room,\n            range: \"24h\",\n            window: \"none\"\n        }\n    };\n    \n    return [[msgNavigate, msgState], null, msgHistoryQuery, null];\n}\n\nif (msg.topic === \"detail_mounted\") {\n    let room = flow.get(\"selectedRoom\");\n    if (!room) {\n        return [\n            { payload: { page: \"Home Page\" } },\n            null,\n            null,\n            null\n        ];\n    }\n    \n    let msgInit = {\n        topic: \"init_room\",\n        payload: {\n            room: room\n        }\n    };\n    \n    let roomsState = flow.get(\"roomsState\") || {};\n    let roomState = roomsState[room] || {\n        room: room,\n        temp: \"-\",\n        lux: \"-\",\n        co2: \"-\",\n        led_data: 0,\n        ac_data: 0,\n        projector_data: 0,\n        ac_temp: 24,\n        active: 0\n    };\n    \n    let msgState = {\n        topic: \"room_state\",\n        payload: roomState\n    };\n    \n    let msgHistoryQuery = {\n        topic: \"get_history\",\n        payload: {\n            room: room,\n            range: \"24h\",\n            window: \"none\"\n        }\n    };\n    \n    return [[msgInit, msgState], null, msgHistoryQuery, null];\n}\n\nif (msg.topic === \"control\") {\n    return [null, null, null, msg];\n}\n\nif (msg.topic === \"get_history\") {\n    return [null, null, null, msg];\n}\n\nif (msg.topic === \"go_back\") {\n    flow.set(\"selectedRoom\", null);\n    let msgNavigate = {\n        payload: {\n            page: \"Home Page\"\n        }\n    };\n    return [msgNavigate, null, null, null];\n}\n\nreturn null;",
        "outputs": 4,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 200,
        "y": 420,
        "wires": [
            [
                "classroom_detail_template",
                "ui_page_control"
            ],
            [],
            [
                "history_influx_in"
            ],
            [
                "command_history_router_fn"
            ]
        ]
    },
    {
        "id": "detail_live_filter",
        "type": "function",
        "z": "38555e5d51f8978d",
        "name": "Live State Tracker & Filter",
        "func": "let roomsState = flow.get(\"roomsState\") || {};\n\nlet parts = msg.topic.split(\"/\");\nif (parts.length === 3) {\n    let room = parts[0];\n    let type = parts[1];\n    let field = parts[2];\n    \n    if (type === \"data\" || type === \"control\") {\n        if (!roomsState[room]) {\n            roomsState[room] = {\n                room: room,\n                lastSeen: Date.now(),\n                temp: \"-\",\n                lux: \"-\",\n                co2: \"-\",\n                human: 0,\n                alert: 0,\n                active: 0,\n                led_data: 0,\n                ac_data: 0,\n                projector_data: 0,\n                ac_temp: 24,\n                ac_fan: \"00\",\n                ac_swing: \"00\",\n                status: 0,\n                lastSeenTemp: 0,\n                lastSeenLux: 0,\n                lastSeenCo2: 0,\n                lastSeenActive: 0,\n                lastSeenLed: 0,\n                lastSeenAc: 0,\n                lastSeenProjector: 0\n            };\n        }\n        \n        roomsState[room].lastSeen = Date.now();\n        \n        let val = msg.payload;\n        if (field === \"temp\" || field === \"temperature\") {\n            roomsState[room].temp = parseFloat(val).toFixed(1);\n            roomsState[room].lastSeenTemp = Date.now();\n        } else if (field === \"lux\") {\n            roomsState[room].lux = parseInt(val, 10);\n            roomsState[room].lastSeenLux = Date.now();\n        } else if (field === \"co2\") {\n            roomsState[room].co2 = parseInt(val, 10);\n            roomsState[room].lastSeenCo2 = Date.now();\n        } else if (field === \"human\") {\n            roomsState[room].human = parseInt(val, 10);\n            roomsState[room].active = roomsState[room].human === 1 ? 1 : 0;\n            roomsState[room].status = roomsState[room].active === 1 ? 1 : 0;\n            roomsState[room].lastSeenActive = Date.now();\n        } else if (field === \"alert\") {\n            roomsState[room].alert = parseInt(val, 10);\n        } else if (field === \"led_data\" || field === \"led\") {\n            roomsState[room].led_data = parseInt(val, 10);\n            roomsState[room].lastSeenLed = Date.now();\n        } else if (field === \"ac_data\" || field === \"ac\") {\n            let strVal = String(val);\n            if (strVal.length === 8) {\n                let power = strVal.substring(0, 2);\n                let temp = parseInt(strVal.substring(2, 4), 10);\n                let fan = strVal.substring(4, 6);\n                let swing = strVal.substring(6, 8);\n                roomsState[room].ac_data = power === \"01\" ? 1 : 0;\n                if (!isNaN(temp)) {\n                    roomsState[room].ac_temp = temp;\n                }\n                roomsState[room].ac_fan = fan;\n                roomsState[room].ac_swing = swing;\n            } else {\n                roomsState[room].ac_data = parseInt(val, 10);\n            }\n            roomsState[room].lastSeenAc = Date.now();\n        } else if (field === \"projector_data\" || field === \"projector\") {\n            roomsState[room].projector_data = parseInt(val, 10);\n            roomsState[room].lastSeenProjector = Date.now();\n        }\n        \n        flow.set(\"roomsState\", roomsState);\n    }\n}\n\nlet selectedRoom = flow.get(\"selectedRoom\");\nif (selectedRoom) {\n    let room = parts[0];\n    let type = parts[1];\n    let field = parts[2];\n    \n    if (room === selectedRoom && type === \"data\") {\n        let outField = field;\n        let outVal = msg.payload;\n        \n        if (field === \"human\") {\n            outField = \"active\";\n            outVal = parseInt(msg.payload, 10) === 1 ? 1 : 0;\n        }\n        \n        msg.payload = {\n            field: outField,\n            value: outVal\n        };\n        msg.topic = \"live_data\";\n        return msg;\n    }\n}\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 300,
        "wires": [
            [
                "classroom_detail_template"
            ]
        ]
    },
    {
        "id": "ui_page_control",
        "type": "ui-control",
        "z": "38555e5d51f8978d",
        "name": "UI Page Controller",
        "ui": "06f1f55e1db341f1",
        "events": "all",
        "x": 480,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "influx_health_inject",
        "type": "inject",
        "z": "38555e5d51f8978d",
        "name": "Trigger InfluxDB Health",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "15",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 140,
        "wires": [
            [
                "influx_health_query"
            ]
        ]
    },
    {
        "id": "influx_health_query",
        "type": "influxdb in",
        "z": "38555e5d51f8978d",
        "influxdb": "31777bc3db523cde",
        "name": "InfluxDB Health Query",
        "query": "from(bucket: \"SmartClass\") |> range(start: -1m) |> limit(n: 1)",
        "rawOutput": false,
        "precision": "ms",
        "retentionPolicy": "",
        "x": 420,
        "y": 140,
        "wires": [
            [
                "influx_health_process"
            ]
        ]
    },
    {
        "id": "influx_health_process",
        "type": "function",
        "z": "38555e5d51f8978d",
        "name": "Map Health Status",
        "func": "msg.payload = 1;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 140,
        "wires": [
            [
                "influxdb_connection_led"
            ]
        ]
    }
]